@import '../mixins.scss';

.header {
  background-color: #1d3048;
  &__top {
    padding: 20px;
    a {
      color: #fff;
    }
  }
  &__bottom {
    padding: 9px 20px 9px 20px;
  }
  &__list {
    @include flexbox();
    li {
      margin: 0 25px 0 0px;
      font-weight: 500;
      a {
        &:hover {
          transition: all 0.3s;
          color: #456690 !important;
        }
      }
    }
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 500;
  }
  &__bottom {
    border-top: 1px solid #fff;
  }
  &__btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    span {
      content: '';
      position: absolute;
      top: 9px;
      width: 20px;
      background-color: black;
      height: 2px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 20px;
      background-color: black;
      height: 2px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 20px;
      background-color: black;
      height: 2px;
    }
  }
}
