.newYear {
  &__title {
    font-size: 34px;
    font-weight: 500;
    color: #000;
  }
  &__suptitle {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 40px;
    padding-top: 10px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__img {
    img {
      width: 180px;
      height: 311px;
    }
    cursor: pointer;
    &:hover {
      transition: all 0.3s;
      transform: scale(1.1);
    }
  }
  &__cardInfo {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-top: 5px;
    text-align: center;
  }
  &__row {
    padding-top: 20px;
    display: flex;
    color: #000;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__cardDescription {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__cardTitle {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}
