.symbols {
  &__title {
    font-size: 26px;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  &__test {
    color: red;
  }
  &__zodiac {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      flex: 0 1 16.666%;
      padding-right: 50px;
      margin-bottom: 25px;
      @media (max-width: 1112px) {
        padding-right: 40px;
      }
      img {
        width: 80px;
        height: 80px;
        z-index: 9;
        text-align: center;
      }
    }
  }
  &__item {
    background-color: #ededed;
    border-radius: 50%;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__name {
    padding: 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  &__date {
    text-align: center;
  }
}
